div(class="row")
  div(class="form-group col-sm-3")
    strong(oph-msg="suoritusrekisteri.muokkaa.oppilaitos") Oppilaitos
    input(type="text" class="form-control input-sm {{oppilaitosLoading ? 'input-loading' : ''}}"
    title="{{organisaatio.nimi.fi || organisaatio.nimi.sv || organisaatio.nimi.en}}"
    ng-disabled="info.delete" ng-model="info.oppilaitos"
    typeahead="organisaatio.oppilaitosKoodi as (organisaatio.oppilaitosKoodi + ' ' + (organisaatio.nimi.fi || organisaatio.nimi.sv)) for organisaatio in getOppilaitos($viewValue, info) | filter:$viewValue | limitTo:10"
    typeahead-on-select="info.organisaatio = $item"
    typeahead-loading="oppilaitosLoading"
    typeahead-wait-ms="500"
    required="required")
  div(class="form-group col-sm-3")
    strong(oph-msg="suoritusrekisteri.muokkaa.luokka") Luokka
    input(type="text" class="form-control input-sm" ng-disabled="info.delete" ng-model="luokkatieto.luokka" required="required")
  div(class="form-group col-sm-3")
    strong(oph-msg="suoritusrekisteri.muokkaa.luokkataso") Luokkataso
    select(class="form-control input-sm" ng-disabled="info.delete" ng-model="luokkatieto.luokkataso" required="required" ng-options="l.value as l.text for l in luokkatasot")
div(class="row")
  div(class="form-group col-sm-4")
    strong(oph-msg="suoritusrekisteri.muokkaa.alkupaiva") Alkupäivä
    div(class="input-group")
      input(type="text" class="form-control input-sm datepicker" ng-disabled="info.delete" ng-model="luokkatieto.alkuPaiva" title="Syötä päivä muodossa 1.1.2014 (ilman etunollia)"
      datepicker-popup="{{format}}"
      datepicker-options="dateOptions"
      required="required"
      datepicker-append-to-body="true"
      is-open="alkuOpen"
      ng-click="alkuOpen = true"
      show-button-bar="false")
      span(class="input-group-btn")
        button(class="btn btn-default btn-sm" type="button" ng-click="luokkatieto.alkuPaiva = null; luokkatieto.loppuPaiva = null;")
          span(class="glyphicon glyphicon-remove")
  div(class="form-group col-sm-4")
    strong(oph-msg="suoritusrekisteri.muokkaa.loppupaiva") Loppupäivä
    div(class="input-group")
      input(type="text" class="form-control input-sm datepicker" ng-disabled="info.delete" ng-model="luokkatieto.loppuPaiva" title="Syötä päivä muodossa 1.1.2014 (ilman etunollia)"
      datepicker-popup="{{format}}"
      datepicker-options="dateOptions"
      min-date="luokkatieto.alkuPaiva"
      datepicker-append-to-body="true"
      is-open="loppuOpen"
      ng-click="loppuOpen = true"
      show-button-bar="false")
      span(class="input-group-btn")
        button(class="btn btn-default btn-sm" type="button" ng-click="luokkatieto.loppuPaiva = null")
          span(class="glyphicon glyphicon-remove")
  div(class="form-group col-sm-4")
    div(class="pull-right")
      button(ng-show="isOPH()" type="button" class="btn btn-default arvosana-button" ng-disabled="info.delete" ng-click="info.delete = true")
        span(oph-msg="suoritusrekisteri.muokkaa.poistaluokkatieto") Poista
        span(class="glyphicon glyphicon-remove")
